---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=nysued5unnmfhft4bp5u6779&format=json&pageSize=15&show=storeId,longName,phone,city,distance,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-112.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 17,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.190",
          "totalTime": "0.203",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,longName,phone,city,distance,storeType&format=json&apiKey=nysued5unnmfhft4bp5u6779",
          "stores": [
            {
              "storeId": 2740,
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "phone": "303-270-9189",
              "city": "Denver",
              "distance": 3.25,
              "storeType": "Mobile"
            },
            {
              "storeId": 1224,
              "longName": "Best Buy - Belmar",
              "phone": "303-742-8039",
              "city": "Lakewood",
              "distance": 5.28,
              "storeType": "BigBox"
            },
            {
              "storeId": 211,
              "longName": "Best Buy - Colorado Blvd",
              "phone": "303-758-5805",
              "city": "Denver",
              "distance": 5.61,
              "storeType":[...]
